<head>
  <script src="assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
  <script src="assets/libs/lucide/umd/lucide.js"></script>
</head>
<div class="container-fluid group-data-[content=boxed]:max-w-boxed mx-auto">
  <div
    class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden"
  >
    <div class="grow">
      <h5 class="text-16">Quản lý thuộc tính</h5>
    </div>
    <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
      <li
        class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1 before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200"
      >
        <a href="#!" class="text-slate-400 dark:text-zink-200">Màu sắc update</a>
      </li>
      <li class="text-slate-700 dark:text-zink-100">Màu sắc update</li>
    </ul>
  </div>
  <div class="card">
    <div class="card-body">
      <h6 class="mb-4 text-15">Màu sắc</h6>
      <form action="">
        <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 xl:grid-cols-12">
          <!--end col-->

          <div class="xl:col-span-7">
            <label for="productNameInput" class="inline-block mb-2 text-base font-medium">Tên màu sắc</label>
            <input type="text" id="productNameInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Tên màu sắc"  ng-model="selectedtenSP" >
        </div>
        

          <div class="xl:col-span-5">
            <label
              for="taxApplicable"
              class="inline-block mb-2 text-base font-medium"
              >Trạng thái</label
            >
            <select
              class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"
              data-choices=""
              data-choices-search-false=""
              name="taxApplicable"
              id="taxApplicable"
            >
              <option value="">Chọn Trạng thái</option>
              <option value="">Hoạt động</option>
              <option value="">Ngưng hoạt động</option>
            </select>
            <span class="error-message" ng-if="errorMessage.MauSac"
              >{{errorMessage.MauSac}}</span
            >
          </div>
        </div>
        <div class="lg:col-span-2 xl:col-span-12">
          <div>
            <label
              for="productDescription"
              class="inline-block mb-2 text-base font-medium"
              >Ghi chú</label
            >
            <textarea
              class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"
              id="productDescription"
              placeholder="Chi tiết"
              rows="5"
              ng-model="selectedmota"
            ></textarea>
          </div>
        </div>
        
        <div class="flex justify-end gap-2 mt-4">
          <button
            type="button"
            class="text-yellow-500 bg-white border-yellow-500 btn hover:text-white hover:bg-yellow-600 hover:border-yellow-600 focus:text-white focus:bg-yellow-600 focus:border-yellow-600 focus:ring focus:ring-yellow-100 active:text-white active:bg-yellow-600 active:border-yellow-600 active:ring active:ring-yellow-100 dark:bg-zink-700 dark:hover:bg-yellow-500 dark:ring-yellow-400/20 dark:focus:bg-yellow-500"
           
          >
            Update Màu sắc
          </button>
        </div>
      </form> 
    </div>
    <!--end card-->
  </div>
</div>

<!-- container-fluid -->
