<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Của Hàng Quàn Áo TH</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/logo/logo.png">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/custom.css">

</head>
<style>
    .material-icons-sharp {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 5px;
    }
</style>

<body ng-controller="cartController">

    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> Việt Nam <i
                                            class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="assets/imgs/theme/icon_vn.png" alt="">Việt Nam</a></li>
                                        <li><a href="#"><img src="assets/imgs/theme/icon_us.png" alt="">English</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Sản Phẩm giảm giá 50% off <a href="#/shop">Xem tại đây</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a href="#/shop">Shop now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li><i class="fi-rs-key"></i>
                                    <a ng-show="Idtaikhoan == null" href="/src/user/pages/Login.html">Log In </a>
                                    <a ng-show="Idtaikhoan !== null" href="/src/user/pages/Login.html">Xin Chào Bạn</a>
                                    <ul ng-show="Idtaikhoan !== null" class="language-dropdown">

                                        <li>
                                            <a href="#" ng-click="logout()"><span class="material-icons-sharp">logout</span>Logout</a>
                                        </li>
                                        <li>
                                            <a href="/src/user/pages/ThongTinND.html"><span class="material-icons-sharp">person_outline</span>Tài Khoản</a>
                                        </li>
                                        <li>
                                            <a href="/src/user/pages/DonHang.html"><span class="material-icons-sharp">receipt_long</span>Đơn Hàng</a>
                                        </li>                                        
                                    </ul>
                                </li>                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="#/"><img src="assets/imgs/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-1">
                            <form action="#">
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="#/thanhyou">
                                        <img class="svgInject" alt="Surfside Media"
                                            src="assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="#/cart/id" ng-click="checkLogin()">
                                        <img alt="Surfside Media" src="assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue">{{soLuongSanPham}}</span>
                                    </a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2" ng-show="soLuongSanPham > 0">
                                        <ul>
                                            <li ng-repeat="ci in cartS">

                                                <div class="shopping-cart-img">
                                                    <a href=""><img alt="Surfside Media"
                                                            src="/src/fileanh/img-sanpham/{{ci.imagedefaul}}"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a ng-href="#/product-details/{{ci.idsp}}">{{ci.tensp}}</a></h4>
                                                    <h4><span>{{ci.soluong}} × {{(ci.dongiakhigiam ? ci.dongiakhigiam : ci.dongia) * ci.soluong | number}} đ</span></h4>
                                                    <h4><span>Thành Tiền : <span>{{(ci.dongiakhigiam ? ci.dongiakhigiam : ci.dongia) * ci.soluong | number}} đ</span>
                                                    </span></h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a><i ng-click="deleteCart(ci.idghct)"
                                                            class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>

                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Tổng Tiền <span>{{thanhtien | number}} đ</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="#/cart/id" class="outline">View cart</a>
                                                <a href="#/checkout" ng-click="reloadCheckoutCart()">Checkout</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Hiển thị nếu giỏ hàng trống -->
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2" ng-show="soLuongSanPham <= 0">
                                        <ul>
                                            <div style="text-align: center">
                                                <img src="/src/user/assets/imgs/logo/logo_cart.png" width="200px">
                                                <p style="color: #F15412">Không Có Sản Phẩm Nào !</p>
                                            </div>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="assets/imgs/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span>Xem thông tin
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li class="has-children">
                                        <a href="shop.html"><i class="surfsidemedia-font-dress"></i>Women's Clothing</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Hot & Trending</span>
                                                                </li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Dresses</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Blouses & Shirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Hoodies & Sweatshirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Women's Sets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Suits & Blazers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Bodysuits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Tanks & Camis</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Coats & Jackets</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Bottoms</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Leggings</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Skirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Shorts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Jeans</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Pants & Capris</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Bikini Sets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Cover-Ups</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Swimwear</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-2.jpg"
                                                            alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-3.jpg"
                                                            alt="menu_banner2">
                                                        <div class="banne_info">
                                                            <h6>15% Off</h6>
                                                            <h4>Hot Deals</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop.html"><i class="surfsidemedia-font-tshirt"></i>Men's Clothing</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Jackets & Coats</span>
                                                                </li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Down Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Parkas</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Faux Leather Coats</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Trench</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Wool & Blends</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Vests & Waistcoats</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Leather Coats</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Suits & Blazers</span>
                                                                </li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Blazers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Suit Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Suit Pants</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Suits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Vests</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Tailor-made Suits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Cover-Ups</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-4.jpg"
                                                            alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop.html"><i class="surfsidemedia-font-smartphone"></i> Cellphones</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Hot & Trending</span>
                                                                </li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Cellphones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">iPhones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Refurbished Phones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Mobile Phone</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Mobile Phone Parts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Phone Bags & Cases</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Communication Equipments</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Walkie Talkie</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Accessories</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Screen Protectors</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Wire Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Wireless Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Car Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Power Bank</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Armbands</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Dust Plug</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item"
                                                                        href="#">Signal Boosters</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-5.jpg"
                                                            alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="header-banner2">
                                                        <img src="assets/imgs/banner/menu-banner-6.jpg"
                                                            alt="menu_banner2">
                                                        <div class="banne_info">
                                                            <h6>15% Off</h6>
                                                            <h4>Hot Deals</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="shop.html"><i class="surfsidemedia-font-desktop"></i>Computer &
                                            Office</a></li>
                                    <li><a href="shop.html"><i class="surfsidemedia-font-cpu"></i>Consumer
                                            Electronics</a></li>
                                    <li><a href="shop.html"><i class="surfsidemedia-font-diamond"></i>Jewelry &
                                            Accessories</a></li>
                                    <li><a href="shop.html"><i class="surfsidemedia-font-home"></i>Home & Garden</a>
                                    </li>
                                    <li><a href="shop.html"><i class="surfsidemedia-font-high-heels"></i>Shoes</a></li>
                                    <li><a href="shop.html"><i class="surfsidemedia-font-teddy-bear"></i>Mother &
                                            Kids</a></li>
                                    <li><a href="shop.html"><i class="surfsidemedia-font-kite"></i>Outdoor fun</a></li>
                                    <li>
                                        <ul class="more_slide_open" style="display: none;">
                                            <li><a href="shop.html"><i class="surfsidemedia-font-desktop"></i>Beauty,
                                                    Health</a></li>
                                            <li><a href="shop.html"><i class="surfsidemedia-font-cpu"></i>Bags and
                                                    Shoes</a></li>
                                            <li><a href="shop.html"><i class="surfsidemedia-font-diamond"></i>Consumer
                                                    Electronics</a></li>
                                            <li><a href="shop.html"><i class="surfsidemedia-font-home"></i>Automobiles &
                                                    Motorcycles</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="more_categories">Show more...</div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" ng-href="#/">Trang Chủ </a></li>
                                    <li><a href="#/shop">Shop</a></li>
                                    <!-- <li><a href="#">Tài Khoản</a></li> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="material-icons-sharp">person_outline</i><span>Username : </span>{{tenTK}}</p>
                    </div>

                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.php">
                                    <img alt="Surfside Media" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="cart.html">
                                    <img alt="Surfside Media" src="assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="product-details.html"><img alt="Surfside Media"
                                                        src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="product-details.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="product-details.html"><img alt="Surfside Media"
                                                        src="assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="product-details.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="cart.html">View cart</a>
                                            <a href="shop-checkout.php">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/logo/logo.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop.html"><i class="surfsidemedia-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop.html"><i class="surfsidemedia-font-tshirt"></i>Men's Clothing</a></li>
                                <li> <a href="shop.html"><i class="surfsidemedia-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop.html"><i class="surfsidemedia-font-desktop"></i>Computer & Office</a>
                                </li>
                                <li><a href="shop.html"><i class="surfsidemedia-font-cpu"></i>Consumer Electronics</a>
                                </li>
                                <li><a href="shop.html"><i class="surfsidemedia-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop.html"><i class="surfsidemedia-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop.html"><i class="surfsidemedia-font-teddy-bear"></i>Mother & Kids</a>
                                </li>
                                <li><a href="shop.html"><i class="surfsidemedia-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>


                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="index.html">Home</a></li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="#!/shop">shop</a></li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Our
                                    Collections</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="product-details.html">Dresses</a></li>
                                            <li><a href="product-details.html">Blouses & Shirts</a></li>
                                            <li><a href="product-details.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="product-details.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="product-details.html">Jackets</a></li>
                                            <li><a href="product-details.html">Casual Faux Leather</a></li>
                                            <li><a href="product-details.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="product-details.html">Gaming Laptops</a></li>
                                            <li><a href="product-details.html">Ultraslim Laptops</a></li>
                                            <li><a href="product-details.html">Tablets</a></li>
                                            <li><a href="product-details.html">Laptop Accessories</a></li>
                                            <li><a href="product-details.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog.html">Blog</a></li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="login.html">Log In </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="register.html">Sign Up</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+1) 0000-000-000 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main ng-view>
    </main>

    <footer>
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Hãy phản hồi cho chúng tôi</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">Những khó khăn <strong>của bạn khi mua sắm.</strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Gửi ngay</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="#/"><img src="assets/imgs/logo/logo.png" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Địa chỉ: </strong>Hà Nội
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+84 355346928
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Email: </strong>nhomvip.gmail.com
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow ngay để cập nhập thông
                                tin</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">Chính sách</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">Bảo mật tối đã</a></li>
                            <li><a href="#">Quản lý thông tin mua chặt chẽ</a></li>
                            <li><a href="#">Sản phẩm dễ dàng mua</a></li>
                            <li><a href="#">Tiết kiệm &amp; dễ dàng </a></li>
                            <li><a href="#">Mua hàng đơn giản</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">Các chức năng</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="my-account.html">Tài khoản</a></li>
                            <li><a href="#">Xem giỏ hàng</a></li>
                            <li><a href="#">Xem yêu thích</a></li>
                            <li><a href="#">Thanh toán </a></li>
                            <li><a href="#">Mua hàng</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 mob-center">

                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Thanh toán tiện lợi</p>
                            <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <div class="container pb-20 wow fadeIn animated mob-center">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">
                        <a href="#/">Privacy Policy</a> | <a href="#/">Terms &
                            Conditions</a>
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        &copy; <strong class="text-brand">SurfsideMedia</strong> All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Link thư viện angular -->



    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> -->
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/angular-route.js"></script>
    <script src="assets/js/lib/angular-route.min.js"></script>
    <Script src="router_user.js"></Script>

    <!-- Template  JS -->


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->


    <script src="assets/js/main.js?v=3.3"></script>
    <script src="assets/js/shop.js?v=3.3"></script>

    <!-- <script src="Page/assets/js/combobox.js"></script> -->


    <Script src="controller/home-controller.js"></Script>
    <Script src="controller/shop-controller.js"></Script>
    <Script src="controller/product-detail-controller.js"></Script>
    <script src="controller/cart-controller.js"></script>
    <Script src="controller/checkout-controller.js"></Script>

    <!-- Thư Viện Modal -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

</body>

</html>