<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đơn Hàng Của Bạn</title>
    <link rel="shortcut icon" type="image/x-icon" href="/src/user/assets/imgs/logo/logo.png">
    <link rel="stylesheet" href="/src/admin/assets/css/starcode2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="/src/user/assets/css/thongtinnd-css/donhang.css">
</head>

<body ng-app="app" ng-controller="thongtindonhangcontroller">
    <div class="menu-donhang">
        <h3 style="text-align: center; color: rgb(238, 86, 35);">Thông Tin Đơn Hàng</h3>
        <div class="row">
            <div class="dropdown" style="margin-left: 0px;">
                <a class="btn btn-outline-primary dropdown-toggle btn-sm" role="button" data-bs-toggle="dropdown">
                    Chuyển Hướng
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/src/user/index_user.html"><i class="bi bi-house"></i> Trang
                            Chủ</a></li>
                    <li><a class="dropdown-item" href="/src/user/pages/ThongTinND.html"><i class="bi bi-person"></i></i>
                            Tài Khoản</a></li>
                </ul>
            </div>
            <div class="col-3">
                <div class="border-ttdonhang">
                    <h6 class="mb-4 text-15">Trạng Thái Đơn Hàng Của Bạn</h6>
                    <div>
                        <div
                            class="relative before:absolute ltr:before:border-l-2 rtl:before:border-r-2 ltr:before:left-3.5 rtl:before:right-3.5 before:top-1.5 before:-bottom-1.5 pb-4 dark:before:border-zink-500">
                            <div class="relative flex gap-2" ng-click="LoadTTHoaDonKhachHang(1)"
                                ng-init="LoadTTHoaDonKhachHang(1)">
                                <div
                                    class="size-8 p-0.5 bg-white text-custom-500 flex items-center justify-center border rounded-full shrink-0 border-slate-200 dark:border-zink-500 dark:bg-zink-700">
                                    <i class="ri-file-text-line larger-icon"></i>
                                </div>
                                <div>
                                    <h6 class="mb-1"
                                        ng-style="{'color': selectedTrangThai === 1 ? 'rgb(238, 86, 35)' : 'inherit'}">
                                        Chờ Xác Nhận</h6>
                                </div>
                            </div>
                        </div>
                        <div
                            class="relative before:absolute ltr:before:border-l-2 rtl:before:border-r-2 ltr:before:left-3.5 rtl:before:right-3.5 before:top-1.5 before:-bottom-1.5 pb-4 dark:before:border-zink-500">
                            <div class="relative flex gap-2" ng-click="LoadTTHoaDonKhachHang(2)">
                                <div
                                    class="size-8 p-0.5 bg-white text-red-500 flex items-center justify-center border rounded-full shrink-0 border-slate-200 dark:border-zink-500 dark:bg-zink-700">
                                    <i class="ri-newspaper-line larger-icon"></i>
                                </div>
                                <div>
                                    <h6 class="mb-1"
                                        ng-style="{'color': selectedTrangThai === 2 ? 'rgb(238, 86, 35)' : 'inherit'}">
                                        Đã Xác Nhận</h6>
                                </div>
                            </div>
                        </div>
                        <div
                            class="relative before:absolute ltr:before:border-l-2 rtl:before:border-r-2 ltr:before:left-3.5 rtl:before:right-3.5 before:top-1.5 before:-bottom-1.5 pb-4 dark:before:border-zink-500">
                            <div class="relative flex gap-2" ng-click="LoadTTHoaDonKhachHang(3)">
                                <div
                                    class="size-8 p-0.5 bg-white text-green-500 flex items-center justify-center border rounded-full shrink-0 border-slate-200 dark:border-zink-500 dark:bg-zink-700">
                                    <i class="ri-loader-2-line larger-icon"></i>
                                </div>
                                <div>
                                    <h6 class="mb-1"
                                        ng-style="{'color': selectedTrangThai === 3 ? 'rgb(238, 86, 35)' : 'inherit'}">
                                        Chờ Giao Hàng</h6>
                                </div>
                            </div>
                        </div>
                        <div
                            class="relative before:absolute ltr:before:border-l-2 rtl:before:border-r-2 ltr:before:left-3.5 rtl:before:right-3.5 before:top-1.5 before:-bottom-1.5 pb-4 dark:before:border-zink-500">
                            <div class="relative flex gap-2" ng-click="LoadTTHoaDonKhachHang(4)">
                                <div
                                    class="size-8 p-0.5 bg-white text-green-500 flex items-center justify-center border rounded-full shrink-0 border-slate-200 dark:border-zink-500 dark:bg-zink-700">
                                    <i class="ri-truck-line larger-icon"></i>
                                </div>
                                <div>
                                    <h6 class="mb-1"
                                        ng-style="{'color': selectedTrangThai === 4 ? 'rgb(238, 86, 35)' : 'inherit'}">
                                        Đang Giao Hàng</h6>
                                </div>
                            </div>
                        </div>
                        <div
                            class="relative before:absolute ltr:before:border-l-2 rtl:before:border-r-2 ltr:before:left-3.5 rtl:before:right-3.5 before:top-1.5 before:-bottom-1.5 pb-4 dark:before:border-zink-500">
                            <div class="relative flex gap-2" ng-click="LoadTTHoaDonKhachHang(5)">
                                <div
                                    class="size-8 p-0.5 bg-white text-green-500 flex items-center justify-center border rounded-full shrink-0 border-slate-200 dark:border-zink-500 dark:bg-zink-700">
                                    <i class="ri-shopping-bag-3-line larger-icon"></i>
                                </div>
                                <div>
                                    <h6 class="mb-1"
                                        ng-style="{'color': selectedTrangThai === 5 ? 'rgb(238, 86, 35)' : 'inherit'}">
                                        Thành Công</h6>
                                </div>
                            </div>
                        </div>
                        <div class="relative">
                            <div class="relative flex gap-2" ng-click="LoadTTHoaDonKhachHang(6)">
                                <div
                                    class="size-8 p-0.5 bg-white text-purple-500 flex items-center justify-center border rounded-full shrink-0 border-slate-200 dark:border-zink-500 dark:bg-zink-700">
                                    <i class="ri-calendar-close-line larger-icon"></i>
                                </div>
                                <div>
                                    <h6 class="mb-1"
                                        ng-style="{'color': selectedTrangThai === 6 ? 'rgb(238, 86, 35)' : 'inherit'}">
                                        Đã Hủy</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div style="width: 400px; margin-left: 80px;">
                    <br>
                    <input type="text" id="lastNameInput" ng-model="keyword" ng-change="TimKiemTTHoaDonKhachHang()"
                        class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200"
                        placeholder="Tìm kiếm đơn hàng">
                </div>
                <div class="border-donhang" ng-repeat="tthd in ttHoaDon">
                    <label class="inline-block mb-2 text-base font-medium"><span class="text-red-500"> * </span>Mã Đơn
                        Hàng : {{tthd.mahoadon}}</label>
                    <label class="inline-block mb-2 text-base font-medium" style="margin-left: 100px;"><span
                            class="text-red-500"> * </span>Tên Người Đặt : {{tthd.tennguoinhan}}</label>
                    <label class="inline-block mb-2 text-base font-medium" style="margin-left: 100px;"><span
                            class="text-red-500"> * </span>Ngày Đặt Hàng : {{tthd.ngaytao}}</label>
                    <hr>
                    <br>
                    <div class="row" style="margin-bottom: 10px;" ng-repeat="ttsp in ttSPHoaDon[tthd.id]"
                        ng-if="ttSPHoaDon[tthd.id].length > 0">
                        <div class="col-2">
                            <h6 style="color:  rgb(238, 86, 35); margin-left: 15px;">Ảnh</h6>
                            <img src="/src/fileanh/img-sanpham/{{ttsp.imagedefaul}}" alt="" width="70px" height="70px">
                        </div>
                        <div class="col-4">
                            <h6 style="color:  rgb(238, 86, 35);">Sản Phẩm</h6>
                            {{ttsp.tensp}} - {{ttsp.tenchatlieu}} <br>
                            {{ttsp.tenmausac}} - Size {{ttsp.tensize}} <br>
                        </div>
                        <div class="col-3">
                            <h6 style="color:  rgb(238, 86, 35);">Số lượng</h6>
                            {{ttsp.soluong}}
                        </div>
                        <div class="col-3">
                            <h6 style="color:  rgb(238, 86, 35);">Thành Tiền</h6>
                            {{ ttsp.dongiakhigiam ? ttsp.dongiakhigiam * ttsp.soluong : ttsp.dongia * ttsp.soluong | number}} vnđ
                        </div>
                    </div>
                    <div ng-if="ttSPHoaDon[tthd.id].length === 0">
                        <h5 style="color:  rgb(238, 86, 35); text-align: center;">Không có sản phẩm trong đơn hàng này !
                        </h5>
                    </div>
                    <br>
                    <hr>
                    <a style="margin-left: 420px; margin-top: 5px; color:  rgb(238, 86, 35);"
                        ng-click="ViewDonHangChiTiet(tthd.id)">Xem chi tiết đơn hàng</a>
                    <label style="margin-left: 750px;" class="inline-block mb-2 text-base font-medium"><span
                            class="text-red-500"> * </span>Tổng Số Tiền : {{tthd.thanhtien | number}} vnđ</label>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="/src/user/controller/thong-tin-don-hang-controller.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

</html>