<main ng-controller="productDetailController">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="#/" rel="nofollow">Trang Chủ</a>
                <span></span> Shop
                <span></span> Chi tiết sản phẩm
                
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        <figure class="border-radius-10">
                                            <img style="width: 471px; height: 510px;" src="{{selectedImage}}" alt="product image">
                                        </figure>
                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <span ng-repeat="list in loadlistImgSP" class="border border-secondary" ng-click="selectImage(list)">
                                            <img style="width: 75px; height: 75px;" src="{{list.tenimage}}" alt="product image">
                                        </span>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                                <div class="social-icons single-share">
                                    <ul class="text-grey-5 d-inline-block">
                                        <li><strong class="mr-10">Share this:</strong></li>
                                        <li class="social-facebook"><a href="#"><img
                                                    src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                        </li>
                                        <li class="social-twitter"> <a href="#"><img
                                                    src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                        <li class="social-instagram"><a href="#"><img
                                                    src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                        </li>
                                        <li class="social-linkedin"><a href="#"><img
                                                    src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Detail sp -->

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">{{detailProduct.tensp}}</h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <span> Sản phâm tương tự: <a href="#/shop">Tại đây</a></span>
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <!-- <span class="font-small ml-5 text-muted"> (25 reviews)</span> -->
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins ng-if="detailProduct.dongiakhigiam == null"><span class="text-brand">{{detailProduct.giaban | number}} đ</span></ins>
                                            <ins ng-if="detailProduct.dongiakhigiam !== null"><span class="text-brand">{{detailProduct.dongiakhigiam | number}} đ</span></ins>
                                            <ins ng-if="detailProduct.dongiakhigiam !== null"><span class="old-price font-md ml-15">{{detailProduct.giaban | number}} đ</span></ins>
                                            <!-- <span class="save-price  font-md color3 ml-15">25% Off</span> -->
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <!-- <div class="short-desc mb-30">
                                            <p>GHi chú của sản phẩm</p>
                                        </div> -->
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i
                                                    class="fi-rs-crown mr-5"></i>{{detailProduct.tenxuatxu}}</li>
                                            <li class="mb-10"><i
                                                    class="fi-rs-refresh mr-5"></i>{{detailProduct.tenthuonghieu}}</li>

                                        </ul>
                                    </div>

                                    <!-- Load Màu Sắc -->
                                    <div class="attr-detail attr-size" ng-if="detailMauSac.length > 0">
                                        <strong class="mr-10">Màu Sắc</strong>
                                        <ul class="list-filter size-filter font-small">

                                            <li ng-repeat="ms in detailMauSac"
                                                ng-class="{ 'active': ms.isActive, 'muted-color-size': isSizeSelected && !ms.isSelectable }">
                                                <a style="margin-right: 7px; margin-bottom: 7px;"
                                                    ng-click="FinSizeByIdSPAndIdMauSac(ms); finByIdSPCTAndSoLuongTon()"><span>
                                                        {{ ms.tenmausac }} </span></a>
                                            </li>

                                        </ul>
                                    </div>
                                    <br>

                                    <!-- Load Size  -->
                                    <div class="attr-detail attr-size" ng-if="detailSize.length > 0">
                                        <strong class="mr-10">Size</strong>
                                        <ul class="list-filter size-filter font-small">

                                            <li ng-repeat="s in detailSize"
                                                ng-class="{ 'active': s.isActive, 'muted-color-mausac': isMauSacSelected && !s.isSelectable }">
                                                <a style="margin-right: 7px;"
                                                    ng-click="FinMauSacByIdSPAndIdSize(s); finByIdSPCTAndSoLuongTon()"> {{
                                                    s.tensize }} </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <br>

                                    <!-- Số lượng sp -->
                                    <div class="detail-khung">
                                        <div class="detail-qty-ctsp ">
                                            <a class="qty-down" ng-click="changeQuantitySPCT('qty-down')"><i
                                                    class="fi-rs-angle-small-down"></i></a>
                                            <input type="" class="qty-val" ng-model="soluong"
                                                ng-change="validateNumber()">
                                            <a class="qty-up" ng-click="changeQuantitySPCT('qty-up')"><i
                                                    class="fi-rs-angle-small-up"></i></a>
                                        </div>

                                        <p style="color: red; margin-left: 15px;">
                                            {{isSoLuongTonAndTongSoLuongSP == false ? tongSoLuongTonSP.tongsoluongtonsp
                                            + ' Sản Phẩm Có Sẵn' : chiTietSP.soluongton + ' Sản Phẩm Có Sẵn'}}
                                        </p>

                                    </div>
                                    <br>

                                    <p style="color: red" ng-show="messageShowSoLuongTon">
                                        Số Lượng Bạn Nhập Đã Vượt Quá Số Lượng Của Sản Phẩm Này
                                    </p>

                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">

                                        <div class="product-extra-link2">
                                            <button type="submit" class="button button-add-to-cart"
                                                ng-click="layIdCTSPAndSL()">Add to cart</button>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="wishlist.php"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="compare.php"><i
                                                    class="fi-rs-shuffle"></i></a>
                                        </div>
                                    </div>
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                        <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                                rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                        <li>Availability:<span class="in-stock text-success ml-5">8 Items In
                                                Stock</span></li>
                                    </ul>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        <div class="row mt-60">
                            <div class="col-12">
                                <h3 class="section-title style-1 mb-30">Sản Phẩm Mẫu</h3>
                            </div>
                            <div class="col-12">
                                <div class="row related-products">
                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap small hover-up">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="product-details.html" tabindex="0">
                                                        <img class="default-img"
                                                            src="assets/imgs/shop/product-2-1.jpg" alt="">
                                                        <!-- <img class="hover-img"
                                                            src="assets/imgs/shop/product-2-2.jpg" alt=""> -->
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn small hover-up"
                                                        data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                            class="fi-rs-search"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                        href="wishlist.php" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn small hover-up"
                                                        href="compare.php" tabindex="0"><i
                                                            class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Mẫu</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="product-details.html" tabindex="0">Ulstra Bass
                                                        Headphone</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>? vnđ</span>
                                                    <span class="old-price">? vnđ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap small hover-up">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="product-details.html" tabindex="0">
                                                        <img class="default-img"
                                                            src="assets/imgs/shop/product-3-1.jpg" alt="">
                                                        <!-- <img class="hover-img"
                                                            src="assets/imgs/shop/product-3-2.jpg" alt=""> -->
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn small hover-up"
                                                        data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                            class="fi-rs-search"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                        href="wishlist.php" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn small hover-up"
                                                        href="compare.php" tabindex="0"><i
                                                            class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Mẫu</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="product-details.html" tabindex="0">Smart Bluetooth
                                                        Speaker</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>? vnđ</span>
                                                    <span class="old-price">? vnđ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap small hover-up">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="product-details.html" tabindex="0">
                                                        <img class="default-img"
                                                            src="assets/imgs/shop/product-4-1.jpg" alt="">
                                                        <!-- <img class="hover-img"
                                                            src="assets/imgs/shop/product-4-2.jpg" alt=""> -->
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn small hover-up"
                                                        data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                            class="fi-rs-search"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                        href="wishlist.php" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn small hover-up"
                                                        href="compare.php" tabindex="0"><i
                                                            class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Mẫu</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="user/product-details.html" tabindex="0">HomeSpeak 12UEA</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>? vnđ </span>
                                                    <span class="old-price">? vnđ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap small hover-up mb-0">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="user/product-details.html" tabindex="0">
                                                        <img class="default-img" src="assets/imgs/shop/product-5-1.jpg"
                                                            alt="">
                                                        <!-- <img class="hover-img"
                                                            src="assets/imgs/shop/product-3-2.jpg" alt=""> -->
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn small hover-up"
                                                        data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                            class="fi-rs-search"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                                        href="wishlist.php" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn small hover-up"
                                                        href="compare.php" tabindex="0"><i
                                                            class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Mẫu</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="product-details.html" tabindex="0">Dadua Camera 4K</a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>? vnđ</span>
                                                    <span class="old-price">? vnđ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">

                    <!-- Sản Phẩm mới Tại Trang CTSP -->
                    <!-- Product sidebar Widget -->
                    <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">Top 4 sản phẩm mới</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        <div ng-repeat="spn in sanPhamNewCTSP" class="single-post clearfix">
                            <div class="image">
                                <img src="{{spn.imagedefaul}}" alt="#">
                            </div>
                            <div class="content pt-10">
                                <h5><a href="#/shop">{{spn.tensp}}</a></h5>
                                <p class="price mb-0 mt-5">{{spn.giaban | number}} đ</p>
                                <div class="product-rate">
                                    <div class="product-rating" style="width:90%"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>